*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, HTML {
	resize: none;
    height: 100%;
    width: 100%;
}

.logo-container {
	display: flex;
	width: 1130px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;

}

h1 {
	font-weight: bold;
	font-size: 50px;
	margin: 0;
	padding: 0;
}

h3 {
	text-align: center;
	font-size: 20px;
}

h2 {
	margin-top: 30px;
}

input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}

#logo {
	width: 200px;
	margin-right: 20px;
}

#title {
	width: 915px;
	margin-right: 0;
}

.info-container {
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	margin-top: 20px;
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 30px;
	margin-bottom: 20px;
}
